body {



    
    
  
}   

.allThingsTogether {

opacity: 1;

position: relative;
bottom: 120px !important;

}

footer {

    display: block;
    position: absolute;
    bottom: auto !important;
    

}

.containerLogin {
    height: auto;
    display: flex !important;
  opacity: 1 !important;
  

}

.imageStyle {

    width: auto;
    min-width: 50%;
  display: block;
    max-width: 50%;
    border-radius: 150px !important;
    height: auto;

    position: relative;
    top: -4em;
    border: 2px solid #EF7D00 !important;
    box-shadow: 3px 3px 3px black;

}

.inputStyle{
    border: 2px solid #004070 !important;
    width: auto;
    min-width: 30%;
    max-width: 100%;
    height: auto;

}

.inputStyle, ::placeholder {

    color: #EF7D00 !important;
}


.form-control:hover, .form-control:active, .form-control:focus {

    border: 2px solid #EF7D00 !important;
    outline: none !important;
    box-shadow: 2px 2px 2px black !important;

}

.form-check-input:active, .form-check-input:focus {

    background-color:#EF7D00 !important ;
    box-shadow: #EF7D00 !important;
    outline: none !important;
    border: none !important;

}

.buttonStyle {

        background-color: #EF7D00 !important;
    box-shadow: 2px 2px 2px  black ;
    border: 2px solid transparent !important;
    
        font-weight: 900;
        transition: 1s !important;
     
}


.buttonStyle:hover,.buttonStyle:active,.buttonStyle:focus {

    background-color: #004070 !important;
    border: 2px solid black !important;
    box-shadow: 2px 2px 2px #EF7D00 !important;
    border-radius: 20px;
 
}

.linkStyle {

    color: #EF7D00 !important ;
  border-bottom:2px solid #EF7D00 !important;
    font-weight: 900;

}

.linkStyle:hover {

    color: #EF7D00 !important ;

   

}

.imgStyle {

    width: auto;
    height: auto;
    min-height: 40px;
    max-height: 40px;
    position: absolute;
    bottom: 0px;
    top: -20px;

}

.containerImg {

    position: relative;

}

.linkForgot {

    color: #EF7D00 !important;
 
    font-weight: 900;
}

.text-body:hover {

    border-bottom: none;

}

