.containerReset {

    position: relative;
    display: flex;
    justify-content: center;
        margin-top: 2em;

        align-items: center;

    height: auto;
    width: 100%;
    
}  





footer {

    display: block;
    position: absolute;
    bottom: auto !important;

}


.selectStyleSignUp {

    width: 50% !important;
    color: #EF7D00;
    border: 1px solid #004070;
   

 
}

.selectStyleSignUp:focus, .selectStyleSignUp:active {

      
        box-shadow: 2px 2px 2px 2px #EF7D00 !important;
        outline: solid 2px #EF7D00 !important;
        border: none !important;
 
}


.selectStyleSignUpState {

    width: 15% !important;
    color: #EF7D00;
    border: 1px solid #004070;
   

 
}

.selectStyleSignUpState:focus, .selectStyleSignUpState:active {

      
        box-shadow: 2px 2px 2px 2px #EF7D00 !important;
        outline: solid 2px #EF7D00 !important;
        border: none !important;
 
}


.containerSelectSignUp {

    display: flex;
    gap: 1em;

}


.optionStyle:hover, .optionStyle:focus, .optionStyle:active, .optionStyle:checked {

    background: #EF7D00 !important;
    background-color: #EF7D00!important;
    color: white;
    border: 5px solid black !important;
    font-weight: bold;
    

}




.containerTutoSignup {

        display: flex;
        justify-content: center;


}


.tutoSignup {
        width: 80%;
        padding:7px;
    background-color: #EF7D00 !important;
    border-radius: 20px;
    border: 2px solid #004070;
    color: white;
    text-shadow: 2px 2px 2px black;
}









.textStyle {

    color: white !important;
   
     position: relative;
     top: 0em;
   
   }



   



.titleStyle {


    background-color: #EF7D00 !important;
    border-bottom: 2px solid #004070;
    text-shadow: 2px 2px 2px black !important;
}

.inputResetStyle {

    border: 1px solid #004070 !important;
    width: auto !important;
    min-width: 97%;
    max-width: 97%;
}

.card-header {

    width: auto !important;


}

.form-outline {

    width: 100%!important;
    padding: auto !important;
}

.card-text {

    width: auto !important;
    font-size: 100%;

}

 .inputResetStyle:active, .inputResetStyle:focus {

    border: none !important;


}

.labelResetStyle {

    color: #EF7D00 !important;
    margin-left: 0.5em;
}

.card-body {

    padding: 30px !important;
    width: auto !important;


}




.cardStyle {

   
    width: auto;

    border: 2px solid #004070;
   box-shadow: 2px 2px 2px black;
   border-radius: 10px;
 

}

.divisionStyle {

    display: flex;
    
    gap: 1em;

}

.containerRadio {

    margin-top: 2em;

    

}

.pStyle {

position: relative;
left: 1em;
bottom: -3px;
font-weight: 900;
color: white;
font-size: 90%;

}

.pacifist {

    border: green 2px solid ;
    font-weight: 900;
 
}

/* .pacifist:hover, .pacifist:active, .pacifist:focus {

    background-color: #EF7D00 !important;

} */



.checkWarmonger[type="radio"]:checked+.warmonger{

    background-color: #EF7D00 !important;
    border: red 2px solid !important;
    color: white;
} 

.warmonger {




}

.pacifist {

    width: auto !important;
    min-width: 25% !important;
    max-width: auto !important;
    margin-left: 1em;

}

.checkPacifist[type="radio"]:checked+.pacifist{

    background-color: #EF7D00 !important;
    border: green 2px solid !important;
    color: white;
} 

.warmonger {
    width: auto;
    font-weight: 900;
    border: red 2px solid ;
    height: auto;
    width: auto !important;
    min-width: 30% !important;
    max-width: auto !important;
    text-align: center;
    padding: 7px;
    margin-left: 1em;
}

.containerRadio {


    display: flex;

    align-items: center;
    justify-content: left;
    width: 100%;
}

.pStyle {

    position: relative;
    left: 0.3em;
    border-bottom: 2px solid #004070;
    bottom: -5px;
    font-weight: 900;
    color: #004070;
    width: 100%;
    font-size: 80%;
        margin-right: 1em;
    }

    .resetButtonStyle {

        background-color: #EF7D00;
        box-shadow: 2px 2px 2px  black ;
        border: 2px solid transparent !important;
        
            font-weight: 900;
            transition: 1s;
        width: 100% !important;
        margin-top: 2em;
    }

    .resetButtonStyle:hover, .resetButtonStyle:active, .resetButtonStyle:focus {

          background-color: #004070;
    border: 2px solid black !important;
    box-shadow: 2px 2px 2px #EF7D00 !important;
        border-radius: 20px !important;
    }

    .alertStyle {

        position: fixed;
        padding: 60px;
       bottom: 16em;
        left: 30em;
        font-weight: bold;
    }

    .inputEmail {

        position: relative;

    }

    .imgStyle {

        width: auto;
        max-height: 40px;
        position: absolute;
        top: -59% ;
        right: 94%;
        
    }

    .formSignUpStyle {

        width: auto;
        min-width: 50%;
        max-width: auto;
        height: auto;

    }