footer {

    display: block ;
    position: absolute ;
    bottom: auto;
    width: 100%;

}


@font-face {
  font-family: uniSans;
  src: url(./public/fonts/uniHeavy/uni-sans.heavy-caps.otf);
 
}


.textStyle {

    color: white !important;
    font-family: uniSans;
     position: relative;
     top: 0em;
     
   }
   
   
   .linkStyle {
    position: relative;
    bottom: 3px;
    left: 3px;
     color: #EF7D00 !important;
    text-decoration: none;
    border-bottom: 2px solid #EF7D00;
    font-size: 100%;
 
  
   }
   
   
   .linkStyle:hover {
   
      
    border-bottom: none !important;
   }
   
   .containerText {
   
     border-top: 2px solid black !important;
     background-color: #004070 !important;
   }
   
   
   
   
   
   
   