body {



}

.logoStyle {

    height: auto;
    max-height: 50px;
    border: 2px solid white;
    box-shadow: 2px 2px 2px black;

}

.navbar-toggler-icon {

  background-image: url('./public/img/header/hamburger.png') !important;

}

.navbar-toggler {

  outline: none !important;

}

.navbar-toggler:hover,.navbar-toggler:focus, .navbar-toggler:active {

  border: 2px solid #EF7D00 !important;
  outline: none !important;
 box-shadow: none !important;
 

}

.logoStyle:hover {

  background-color: #EF7D00 !important;
  border: none !important;
  box-shadow: 2px 2px 2px #EF7D00;
}

.navbar-collapse {

    display: flex;
    justify-content: end;

}

.navStyles {

    background-color: #004070 !important;
    border-bottom: 2px solid black;
 
}

.nav-item {

    font-family: 'uniSans';
    font-weight: 900;
  
    margin-right: 1em;

}

.navbar-nav {

  margin-right: 1em;

}

.nav-link {
    color: white !important;
    font-family: 'uniSans';
}

.nav-link:hover {

  color: white !important;
  background-color: #EF7D00;
  border-radius: 10px;
}

@font-face {
    font-family: uniSans;
    src: url(./public/fonts/uniHeavy/uni-sans.heavy-caps.otf);
   
  }

  .dropdown-menu {

    background-color:#004070  ;
    border: 2px solid black;
  }

  .dropdown-item:hover {
    background-color: #EF7D00;
    border-radius: 10px !important;
    color: white;
    
  }

  .dropdown-item {
    color: white !important;
  }


.userPhotoHeader {

width: 20px;
height: auto;
min-height: 20px;
max-height: 20px;
margin-left: 0.2em;
border: 1px solid white;
}

.userNameStyleHeader {

  border-bottom: 1px solid white;
  
}