
  



body {

    background-image: url('./public/img/home/home.gif');
    background-size: 100%;

}



.containerAllHome {


    width: 100%;
  
}

@font-face {
    font-family: minecraft;
    src: url(/exercise/layouts/fonts/minecraft/Minecraftia-Regular.ttf);
   
  }

.textHomeStyle {

    font-weight: 900;
    color: white;
    font-size: 100%;
    left: 3%;
    font-family: 'minecraft';
    position: absolute;
    top: 75%;

    text-shadow: 2px 2px 2px black;

}


footer {

    display: block;
    position: absolute;
    bottom: 0 !important;
}