body {


height: 100% !important;
display: block;
  
}   

.allThingsTogether {

opacity: 1;
height: 100% !important;
display: block;
margin-top: 8.5%;
}

footer {

    display: block;
    position: absolute;
    bottom: auto !important;

}

.containerLogin {
    height: 100% !important;
    margin-top: 3em;
    margin-bottom: 5em;
  opacity: 1 !important;
  display: block;

}

.imageStyle {
    position: relative;
    display: block;
    margin-top: 5.5em;
    width: auto;
    max-width: 50%;
    min-width: auto;
    border-radius: 150px;
    height: auto;
bottom: 8em;
    border: 2px solid #EF7D00;
    box-shadow: 2px 2px 2px black;

}

.inputStyle{
    border: 2px solid #004070 !important;
    width: auto;
    max-width: auto;
    min-width: 100%;

}

.inputStyle, ::placeholder {

    color: #EF7D00 !important;
}


.form-control:hover, .form-control:active, .form-control:focus {

    border: 2px solid #EF7D00 !important;
    outline: none !important;
    box-shadow: 2px 2px 2px black;

}

.form-check-input:active, .form-check-input:focus {

    background-color:#EF7D00 !important ;
    box-shadow: #EF7D00 !important;
    outline: none !important;
    border: none !important;

}

.buttonStyle {

        background-color: #EF7D00;
    box-shadow: 2px 2px 2px  black ;
    border: 2px solid transparent !important;
    
        font-weight: 900;
        transition: 1s;
     
}


.buttonStyle:hover,.buttonStyle:active,.buttonStyle:focus {

    background-color: #004070;
    border: 2px solid black !important;
    box-shadow: 2px 2px 2px #EF7D00 !important;
    border-radius: 20px;
 
}

.linkStyle {

    color: #EF7D00 !important ;
  border-bottom:2px solid #EF7D00 !important;
    font-weight: 900;

}

.linkForgot {

    color: #EF7D00 !important ;

      font-weight: 900;
}

.linkForgot:hover {

    color: #EF7D00 !important ;

   

}

.linkStyle:hover {

    color: #EF7D00 !important ;

   

}

.imgStyle {

    width: auto;
    max-height: 40px;
    position: absolute;
    bottom: 0px;
    top: -20px;

}

.containerImg {

    position: relative;

}

.text-body {

    color: #EF7D00 !important;
    border-bottom: #EF7D00 !important;
    font-weight: 900;
}

.text-body:hover {

    border-bottom: none;

}

