.userImage {

    width: auto;
    min-width: 150px;
    max-width: 150px;
    height: auto;
    min-height: 140px;
    max-height: 140px;
    
    border: 1px solid black;
  
    box-shadow: 2px 2px 2px black;

   

}

.containerAll {

    width: 100%;
    height: 100%;
    margin-bottom:3.5%;
}




.editImageButton{

    transition: 1s !important;
    color: #EF7D00 !important;
    font-weight: 900;

}

.buttonStyleProfile {

    transition: 0.6s;

}


.buttonStyleProfile:hover {
    opacity:0.5;

    
    }

.spanH3Profile {
    border-bottom: 3px solid #EF7D00;
  
}

.imgStyleImgButton {

    width: 30px;
    margin-bottom: 5px;
    border: #EF7D00 solid 2px;
    border-radius: 30px;
    box-shadow: 2PX 2PX 2PX black;
    padding: 3px;
    background-color: #EF7D00;
   
}

.editImageButton {
  
    position: absolute;
    left: 36%;
    bottom: 20%;


}

.buttonStyleProfile {

    border: none;
    background-color: transparent;
    

}





.positioningProfile {

 
 
}

footer {

    display: block;
    position: absolute;
    bottom: auto !important;
}

.userNameStyle {
    margin-top:4em;
    font-weight: 900;
    text-shadow: 2px 2px 2px black;
   color: #EF7D00;
   font-size: 120%;
}

.userProfessionStyle {

    color: black;
    font-weight: 900;
    color: #EF7D00;
    text-shadow: 2px 2px 2px black;
    font-size: 180%;
}

.imgBackgroundProfile {

    background-color: #EF7D00;
    border-radius: 5px;
    height: auto;
    min-height: 100px;
    max-height: 100px;
  border-bottom: 3px solid #004070;
  padding: 10px 0 0 0 !important;
  position: relative;
  
}

.containerProfile1 {

    margin-top: 2em;
    margin-left: 5em;
    text-align: center;
    border: 3px solid #004070;
    width: auto;
    min-width: 350px;
    max-width: 350px;
    height: auto;
    min-height: 260px;
    max-height: 260px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px black;

}

.containerProfileAll {

display: flex;
gap: 7em;    
overflow-y: hidden;
}

.containerDataProfile {

    border-left: 3px solid #004070 !important;
    height: 450px;
    width: auto;
    min-width: 650px;
    max-width: 650px;
    padding-left: 5em;
    
    margin-top: 1em;
    position: relative;
}

.containerDataProfile2 {

    border: 1px solid #EF7D00;
    box-shadow: 1px 1px 2px 2px #EF7D00;
    padding: 25px;
    border-radius: 20px;
    margin-top: 3em;
    width: auto;
}

.border {

  
     
}



.dataPushing {
    font-size: 100%;
  float: right;

}

.dataPushing2 {
    font-size: 100%;
    float: right;
    
}

.dataPushing3 {
    font-size: 100%;
    float: right;
    
}

.textStyleProfile {


    width: auto;
    min-width: 100%;
    max-width: 100%;

    text-align: start;
       font-size: 25px;
        position: relative;
        
        font-weight: 900;
        color: #EF7D00;
        text-shadow: 2px 2px 2px black;
        
}

.positioningData {

    border-bottom: 3px solid #004070;
    margin-top: 0.5em; 
    position: relative;
        
    

 
}

.positioningData2 {



    position: relative;

    

 
}

.formImageProfile {
  
        transition: 3s;
       
        opacity: 0.01;
    visibility: hidden;

    position: fixed;

  border: none;

    padding: 10px;

        left: 5%;
        top: 60%;
        color: #EF7D00;

}

.fileStyleProfile[type=file]::file-selector-button {

        display: none;   
   

}

.fileStyleProfile {
    transition: 3s;
    margin-left: 2em;
    border-bottom: 2px solid #EF7D00;
    width: 3%;
}   


.labelFileInput {



}

.imageFileInputButton {

    width: 50px;
    border: 2px solid white;
    box-shadow: 2px 2px 2px black;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.imageFileInputButton:hover {
    box-shadow: 2px 2px 2px black;
    border: 2px solid #EF7D00;
    padding: 5px;
}

.buttonSendStyleProfile {

    border: none;
    background-color: transparent;
   
}


.imgButtonSendProfile {

    width: 20px;
    transition: 0.3s;
    border-radius: 20px;
}

.imgButtonSendProfile:hover {

    width: 35px;
    border: #EF7D00 2px solid;
    box-shadow: 2px 2px 2px black;
    border-radius: 20px;
    padding: 5px;
    background-color: transparent;
}

.alertProfile {

   position: absolute;
   bottom: 7em;
   left: 9em;

}

.alertImageProfile {

    margin-bottom: 3px;

}

.menuChanging {

    display: none;



    

}

.inputMenuChanging {

    border-radius: 30px;
    border: 1px solid #EF7D00 !important;
    width: auto;
    min-width: 300px;
    max-width: 300px;
    display: inline;
 
}

.inputMenuChanging:focus, .inputMenuChanging:active {

    border-radius: 30px;
    border: 2px solid #EF7D00 !important;
    margin-top: 7px;
 
}

.inputMenuButton {

    width: auto;
    min-width: 30px;
    max-width: 30px;
    transition: 0.3s;
    box-shadow: 2px 2px 2px black;
    left: 63%;
    top: 13%;
    border: none;
    position: absolute;
   
}

.inputMenuButton2 {

    width: auto;
    min-width: 30px;
    max-width: 30px;
    transition: 0.3s;
    box-shadow: 2px 2px 2px black;
    left: 73%;
    border: none;
    position: absolute;
    top: 13%;
}

.inputMenuButton:hover {

    width: auto;
    max-width: 40px;
    min-width: 40px;

    border: #EF7D00 2px solid;
    box-shadow: 2px 2px 2px black;
    border-radius: 30px;
    padding: 5px;
    background-color: transparent;
}

.inputMenuButton2:hover {

    width: auto;
    max-width: 40px;
    min-width: 40px;

    border: #EF7D00 2px solid;
    box-shadow: 2px 2px 2px black;
    border-radius: 30px;
    padding: 5px;
    background-color: transparent;
}



.form-label {

    color: #EF7D00 !important;


}   

.containerMenuButton {

    position:relative;

}

.loadingImageProfile {

    border: 2px solid black;
    position: absolute;
    left: 36%;
    top: 4em;
    z-index: 50;

}

.alertStyle {

    position: fixed;
    padding: 60px;
   bottom: 43%;
    left: 38%;
    font-weight: bold;
    z-index: 50;
    box-shadow: 2px 2px 2px black;
}

.errorIconProfile {

 position: absolute;
 bottom: 42.3%;
 left: 87%;
 width: auto;
 min-width: 25px;
 max-width: 25px;

}